*, *::after ,*:: {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url(../img/wave.jpg) no-repeat top center; */
  /* background-size: cover; */
}

/* header area */

.header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background: url(../img/wave1.jpg) no-repeat center right;
  background-size: cover;
  min-height: 130vh;
}

.header-left {
  margin: 5px;
  /* color: #fff; */
}
.header-right {
  margin-right: 740px;
}

ul {
  list-style-type: none;
  /* margin-right: 40px; */
}

ul li {
  display: inline-block;
  color: #fff;
  margin: 5px;
  font-size: 1.5rem;
}

ul li a {
  font-size: 5px;
}

.togle-icon {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  margin-right: 10px;
}

.fa-search {
  font-size: 2.5rem;
  margin-right: 6.5rem;
  color: white;
}

.fa-bars {
  font-size: 2.5rem;
  margin-right: 2.5rem;
  color: white;
}

/* banner aria */

.header-banner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 300px;
  left: 850px;
}

.top {
  font-size: 8.2rem;
  color: white;
  margin-top: 200px;
}

.p {
  position: absolute;
  top: 23vh;
  min-width: 20vw;
  text-align: center;
  /* left: 10px; */
  margin-left: -50px;
  margin-top: 110px;
  font-size: 40px;
  font-style: italic;
  color: white;
}

.button {
  position: absolute;
  top: 30vh;
  text-align: center;
  /* left: 10px; */
  /*   margin-left: 79px; */
  margin-top: 130px;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 500;
  margin-left: -40px;
  background: linear-gradient(to right, rgb(27 41 125 / 0%), rgb(0 154 255));
  color: white;
  /*   border: linear-gradient(to right, rgb(27 41 125 / 0%), rgba(255,0,0,1)); */
  border-radius: 20px;
}

/* content area */

.content {
  min-height: 20vh;
  background: #fff2f214;
  text-align: center;
  /*   min-width:20px;
  overflow:hidden; */
  margin: 0 290px;
}

.content h1 {
  margin-top: 20vh;
  color: #838080;
}

/* gallary section */

/* .galary{} */

/* for test only */

.galary {
  display: grid;
  grid-template-columns: repeat(12, ifr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  /* max-width: 1860px; */
  /* margin: 0 auto; */
  text-align: center;
}

.galary > * {
  background: rgb(63, 123, 202);
  padding: 30px;
  color: white;
}

.item1 {
  grid-column: 1/7;
  grid-row: 1/5;
  background: url(../img/keb.jpg) no-repeat right center;
}

.item2 {
  grid-column: 7/10;
  grid-row: 1/3;
  background: url(../img/sea.jpg);
}

.item3 {
  grid-column: 10/13;
  grid-row: 1/3;
  background: url(../img/girl-500x500.jpg) no-repeat center center;
}

.item4 {
  grid-column: 7/10;
  grid-row: 3/5;
  background: url(../img/waves-500x500.jpg) no-repeat center center;
}

.item5 {
  grid-column: 10/13;
  grid-row: 3/5;
  background: url(../img/girl-500x500.jpg) no-repeat center center;
}

.item6 {
  grid-column: 1/4;
  grid-row: 5/8;
  background: url(../img/keb.jpg) no-repeat left center;
}

.item7 {
  grid-column: 4/10;
  grid-row: 5/11;
  background: url(../img/wave1.jpg) no-repeat center center;
}

.item8 {
  grid-column: 10/13;
  grid-row: 5/8;
  background: url(../img/tmb.jpg) no-repeat center center;
}

.item9 {
  grid-column: 1/4;
  grid-row: 8/11;
  background: url(../img/tumblr_m.jpg) no-repeat center center;
}

.itemX {
  grid-column: 10/13;
  grid-row: 8/11;
  background: url(../img/tumblr.jpg) no-repeat center center;
}

.all {
  font-style: italic;
}

/* footer area*/

.footer {
  min-height: 50vh;
  background: #12262f;
  display: flex;
  text-align: center;
}

.div1,
.div2,
.div3,
.div4 {
  margin-top: 80px;
}

.social-icon {
  min-height: 10vh;
  background: #413d39;
  text-align: center;
  line-height: 10vh;
  padding: 10px;
}

.fa {
  padding: 15px;
  font-size: 2.5rem;
  color: #4ecbcb;
  cursor: pointer;
}
