*, *::after ,*:: {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url(../img/wave.jpg) no-repeat top center; */
  /* background-size: cover; */
}

/* header area */

.header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background: url(../img/wave.jpg) no-repeat center right;
  background-size: cover;
  min-height: 130vh;
}

.header-left {
  margin: 5px;
  /* color: #fff; */
}
.header-right {
  margin-right: 950px;
}

ul {
  list-style-type: none;
  /* margin-right: 40px; */
}

ul li {
  display: inline-block;
  color: #fff;
  margin: 5px;
}

ul li a {
  font-size: 5px;
}

.togle-icon {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  margin-right: 10px;
}

.fa-search {
  font-size: 2.5rem;
  margin-right: 6.5rem;
  color: white;
}

.fa-bars {
  font-size: 2.5rem;
  margin-right: 2.5rem;
  color: white;
}

/* banner aria */

.header-banner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 650px;
}

.top {
  font-size: 8.2rem;
  color: white;
}

.p {
  position: absolute;
  top: 23vh;
  min-width: 20vw;
  text-align: center;
  /* left: 10px; */
  margin-left: -50px;
  margin-top: 110px;
  font-size: 40px;
  font-style: italic;
  color: white;
}

.button {
  position: absolute;
  top: 30vh;
  text-align: center;
  /* left: 10px; */
  /*   margin-left: 79px; */
  margin-top: 130px;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 500;
  margin-left: -40px;
  background: linear-gradient(to right, rgb(27 41 125 / 0%), rgb(0 154 255));
  color: white;
  /*   border: linear-gradient(to right, rgb(27 41 125 / 0%), rgba(255,0,0,1)); */
  border-radius: 20px;
}

/* content area */

.content {
  min-height: 30vh;
  background: #fff2f214;
  text-align: center;
  /*   min-width:20px;
  overflow:hidden; */
  margin: 0 290px;
}

.content h1 {
  margin-top: 20vh;
  color: #838080;
}

/* gallary section */

.galary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-areas:
    "item8 item8 item1 item1 item1"
    "item8 item8 item1 item1"; */
  min: height 100vh;
}

.galary .item1 {
  background: url(.//img/1gnYuBa3-500x500.jpg) no-repeat center;
  /* grid-area: item1; */
  grid-column: 1/3;
  grid-row: 1/1;
}

.galary .item2 {
  background: url(.//img/11740750174_e4ee04b4e6_b-500x500.jpg) no-repeat center;
  /* grid-area: item1; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item3 {
  background: url(.//img/be-500x500.jpg) no-repeat center;
  /* grid-area: item2; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item4 {
  background: url(.//img/by-the-sea1-500x500.jpg) no-repeat center;
  /* grid-area: item3; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item5 {
  background: url(.//img/wave1.jpg) no-repeat center;
  /* grid-area: item4; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item6 {
  background: url(.//img/girl-500x500.jpg) no-repeat center;
  /* grid-area: item5; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item7 {
  background: url(.//img/keb1nsr1.jpg) no-repeat center;
  /* grid-area: item6; */
  grid-row: 1/1;
  grid-column: 3/5;
}
.galary .item7 {
  background: url(.//img/people-500x500.jpg) no-repeat center;
  /* grid-area: item7; */
  /* grid-column: 6/9; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item8 {
  background: url(.//img/Stocksy_txp892408bbAAl000_Medium_478106-1-1000x1000.jpg)
    no-repeat center;
  grid-area: item8;
  /* grid-column: 1/6; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .item9 {
  background: url(.//img/tumblr_mxrv8vRMbA1st5lhmo1_12802-1000x853.jpg)
    no-repeat center;
  /* grid-area: item9; */
  grid-row: 1/1;
  grid-column: 3/5;
}

.galary .itemX {
  background: url(.//img/waves-500x500.jpg) no-repeat center;
  /* grid-area: itemX; */
  grid-row: 1/1;
  grid-column: 3/5;
}
